<header>
    <div class="container">
        <h1 id="recipe-title">Title</h1>
        <div class="recipe-meta">
            <div class="meta-item">
                <span class="meta-label">Serves</span>
                <span class="meta-value" id="recipe-serves"></span>
            </div>
            <div class="meta-item">
                <span class="meta-label">Cooking Time</span>
                <span class="meta-value" id="recipe-time"></span>
            </div>
        </div>
    </div>
</header>