{% assign slug = request.query.slug %}
<div id="recipe-container">Loading recipe...</div>

<script src="{{ 'recipe.js' | asset_url }}"></script>
<script>
  window.recipeSlug = "{{ slug }}";
</script>
