{% comment %}
  Template Name: Recipe
  Template Type: page
{% endcomment %}

{{ 'recipe.css' | asset_url | stylesheet_tag }}

<div id="recipe-wrapper" style="display: none;">
    {%- render 'recipe-header' -%}

    {%- render 'recipe-content' -%}
</div>
<script src="{{ 'recipe.js' | asset_url }}" async></script>