{% comment %}
  Template Name: Recipe
  Template Type: page
{% endcomment %}

{{ 'recipeList.css' | asset_url | stylesheet_tag }}

    <header>
        <div class="header-content">
            <h1>Recipes</h1>
            <p class="subtitle">Discover delicious recipes using our freshest seasonal produce</p>
        </div>
    </header>

    <div class="container">
        <div class="filters" id="filters"></div>
        <div class="grid" id="grid"></div>
    </div>

    <script src="{{ 'recipeList.js' | asset_url }}" async></script>